
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}
.footer {
  background: linear-gradient(45deg, #ee87d8, #2a5298);
  padding: 20px;
  text-align: center;
  width: 100%;
}


.footer-text {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
  font-family: 'Courier New', Courier, monospace;
}

.footer-direccition {
  display: inline-block;
  font-weight: bold;
  color: black;
  padding: 10px 20px; 
  border-radius: 8px; 
  text-decoration: none;
  transition: background 0.3s, transform 0.2s; 
}

.footer-direccition:hover {
  transform: scale(1.07);
}
.a {
  font-family: 'Courier New', Courier, monospace !important;
}
